@{
}
<div></div><br/>
<div></div><br />
<div></div><br />
<div></div><br/>


<h3>E-health</h3>
<p style="width: 700px;">is the transfer of health resources and health care by electronic means. It encompasses three main areas:

The delivery of health information, for health professionals and health consumers, through the Internet and telecommunications.
Using the power of IT and e-commerce to improve public health services, e.g. through the education and training of health workers.
The use of e-commerce and e-business practices in health systems management.
E-health provides a new method for using health resources - such as information, money, and medicines - and in time should help to improve efficient use of these resources. The Internet also provides a new medium for information dissemination, and for interaction and collaboration among institutions, health professionals, health providers and the public.

The World Trade Organization (WTO) defines e-commerce as the production, distribution, marketing, sale or delivery of goods and services by electronic means, i.e. conducting business over the Internet. The reduced costs, the amount of information available and the speed of doing business on-line are creating a revolution in the way that business is conducted. Access to the required technology is an issue for e-health, as for all information communication technologies. The population of the African continent is approximately 800 million, but only 4 million of them use e-mail (compared to 513 million globally) and of these, 2 million are based in South Africa.

Tele-health includes surveillance, health promotion and public health functions. It is broader in definition than tele-medicine as it includes computer-assisted telecommunications to support management, surveillance, literature and access to medical knowledge. Tele-medicine is the use of telecommunications to diagnose and treat disease and ill-health. Telematics for health is a WHO composite term for both tele-medicine and tele-health, or any health-related activities carried out over distance by means of information communication technologies.
</p>