@{
    ViewBag.Title = "Home Page";

}
<br/>
<br/>
<br/>
<br/>



<h3 id="text">Let your ideas shape the future !</h3>


<style>
    

 
#text h3 {
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    
}
</style>